<div class="relative m-auto max-w-4xl"><iframe class="mx-auto rounded-md " width="853" height="480"
    src="https://my.matterport.com/show/?m=DzXR1B5y54K" frameborder="0" allowfullscreen allow="xr-spatial-tracking"></iframe></div>
