<video controls>
    <source src="rabbit320.mp4" type="video/mp4" />
    <source src="rabbit320.webm" type="video/webm" />
    <p>
      Su navegador no soporta video HTML5. Aquí hay un
      <a href="rabbit320.mp4">enlace al video</a>.
    </p>
  </video><video controls>
    <source src="rabbit320.mp4" type="video/mp4" />
    <source src="rabbit320.webm" type="video/webm" />
    <p>
      Su navegador no soporta video HTML5. Aquí hay un
      <a href="rabbit320.mp4">enlace al video</a>.
    </p>
  </video>