---
import Layout from '~/layouts/NdLandingLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';

import Kuula from '~/components/widgets/Kuula.astro';

const metadata = {
  title: 'Real Estate Virtual Tours',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Sign Up Now!',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero.png', alt: 'AstroWind Hero Image' }}
  >
  
    <Fragment slot="title">
      Ready to Step into the Future of Real-Estate:</span> 
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold"> Unearth the Power of Virtual Tours!</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600"></span>
    </Fragment>
  </Hero>

  <Features
  id="features"
  tagline="Features"
  title="What You Get with Our 3D Virtual Property Tours"
  subtitle="Delivering Professional, Comprehensive, and Immersive Viewing Experiences. The most sought-out 3D Virtual Tours in Real Estate in 2022."
  items={[
    {
      title: 'High-quality 3D Visuals',
      description:
        'We provide high-definition 3D models of your properties, providing an immersive experience for potential buyers or tenants.',
      icon: 'tabler:components',
    },
    {
      title: 'Save Time and Effort',
      description:
        'Virtual tours save time for both real estate agents and clients by allowing property inspection at any time, from anywhere.',
      icon: 'tabler:components',
    },
    {
      title: 'Stand Out in the Market',
      description:
        'Enhance your listings with cutting-edge technology, setting your properties apart from the competition.',
      icon: 'tabler:components',
    },
    {
      title: 'Easy Integration',
      description:
        'We offer complete support for integrating the tours into your website, making it a seamless experience.',
      icon: 'tabler:components',
    },
    {
      title: 'Detailed Visitor Statistics',
      description:
        "Gain insights on visitor behavior and preferences to help refine your selling approach. Available in our premium plan.",
      icon: 'tabler:components',
    },
    {
      title: 'Exceptional Customer Support',
      description:
        'Our team is dedicated to ensuring you have the best experience, offering assistance and answers to all your queries.',
      icon: 'tabler:components',
    },
  ]}
/>

<Content
  isReversed
  tagline="3D Virtual Property Tours"
  title="Experience the Immersion: Our 3D Virtual Tours in Action!"
  items={[
    {
      title: 'Immersive 3D Tours',
      description:
        'Display your property in high-quality 3D detail, allowing potential buyers to explore like never before.',
    },
    {
      title: 'Accessible Anywhere, Anytime',
      description:
        'Potential buyers or tenants can inspect properties on their own time, from the comfort of their home.',
    },
    {
      title: 'Easy Integration',
      description:
        'Our tours can be easily integrated into your website with full support from our team.',
    },
  ]}
  image={{
    src: 'src/assets/video/visita-virtual.gif',
    alt: '3D Property Tour Video',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Experience the Future of Property Tours</h3>
     Upgrade your real estate listings with immersive 3D technology.
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>

<Steps
  title="Get your Virtual Reality Real Estate Tour with AstroVR"
  items={[
    {
      title: 'Step 1: <span class="font-medium">Plan Your Tour</span>',
      description:
        "Start by planning your virtual reality real estate tour. Determine the properties you want to showcase and create a list of key features to highlight.",
      icon: 'tabler:package',
    },
    {
      title: 'Step 2: <span class="font-medium">Capture 360° Photos</span>',
      description:
        "Use a 360° camera to capture high-quality photos of the properties. Make sure to capture every room and important detail.",
      icon: 'tabler:package',
    },
    {
      title: 'Step 3: <span class="font-medium">Create VR Content</span>',
      description:
        'Use VR content creation software to turn your photos into immersive virtual reality experiences. Add interactive elements and navigation.',
      icon: 'tabler:package',
    },
    {
      title: 'Step 4: <span class="font-medium">Build Your Website</span>',
      description:
        'Choose a website builder that supports VR content or hire a developer to create a custom VR real estate tour website.',
      icon: 'tabler:package',
    },
    {
      title: 'Step 5: <span class="font-medium">Add Tour to Website</span>',
      description:
        'Integrate your VR tour into your website. Ensure that users can easily access and navigate the tour.',
      icon: 'tabler:package',
    },
    {
      title: 'Step 6: <span class="font-medium">Test and Optimize</span>',
      description:
        'Test your VR tour on various devices to ensure compatibility and performance. Make optimizations as needed.',
      icon: 'tabler:package',
    },
    {
      title: 'Step 7: <span class="font-medium">Launch Your Tour</span>',
      description:
        'Once everything is ready, launch your virtual reality real estate tour and start showcasing your properties to potential buyers.',
      icon: 'tabler:package',
    },
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
    alt: 'Steps image',
  }}
/>


  <Kuula></Kuula>
</Layout>
